{% extends 'base.html.twig' %}

{% block title %}Brand{% endblock %}

{% block body %}
    <h1>Marque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ brand.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ brand.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_brand_index') }}">Retourner à la liste</a>

    <a href="{{ path('app_brand_edit', {'id': brand.id}) }}">Modifier</a>

    {{ include('brand/_delete_form.html.twig') }}
{% endblock %}
